.side_bar_container {
  -fx-background-color: #EEEEEE;
  -fx-alignment: center;
  -fx-spacing: 10;
}

.title_container {
  -fx-alignment: top-center;
  -fx-spacing: 5;
  -fx-padding: 10 0 10 0;
}

.title_container Label {
  -fx-font-size: 16;
  -fx-font-weight: bold;
}

.side_bar_primary_button {
  -fx-pref-width: 115;
  -fx-pref-height: 45;
  -fx-font-size: 14;
  -fx-font-weight: bold;
  -fx-background-color: #397887;
  -fx-text-fill: #EEEEEE;
}

.side_bar_secondary_button {
  -fx-pref-width: 115;
  -fx-pref-height: 45;
  -fx-font-size: 14;
  -fx-font-weight: bold;
  -fx-text-fill: #000000;
  -fx-border-color: #397887;
  -fx-border-width: 2;
  -fx-background-color: #EEEEEE;
}

.side_bar_primary_button FontAwesomeIconView {
  -fx-fill: #EEEEEE;
}

.main_menu_container {
  -fx-background-color: #DEDEDE;
}

.report_container {
  -fx-background-color: #4bb0b1;
  -fx-background-radius: 10;
  -fx-alignment: center;
  -fx-spacing: 10;
  -fx-padding: 10 0 10 0;
}

.report_container Label {
  -fx-text-alignment: center;
  -fx-wrap-text: true;
  -fx-font-size: 16;
  -fx-font-weight: bold;
  -fx-fill: #000000;
}

