.side_bar_container {
  -fx-background-color: #EEEEEE;
  -fx-alignment: center;
  -fx-spacing: 10;
}

.title_container {
  -fx-alignment: top-center;
  -fx-spacing: 5;
  -fx-padding: 10 0 10 0;
}

.title_container Label {
  -fx-font-size: 16;
  -fx-font-weight: bold;
}

.main_menu_container {
  -fx-background-color: #DEDEDE;
}

.report_container {
  -fx-background-color: #4bb0b1;
  -fx-background-radius: 10;
  -fx-alignment: center;
  -fx-spacing: 10;
  -fx-padding: 10 0 10 0;
}

.report_container Label {
  -fx-text-alignment: center;
  -fx-wrap-text: true;
  -fx-font-size: 16;
  -fx-font-weight: bold;
  -fx-fill: #000000;
}

