.verification_container {
  -fx-background-color: #DEDEDE;
}

.verification_container VBox {
  -fx-spacing: 10;
}

.title_label {
  -fx-font-size: 18;
  -fx-fill: #000000;
  -fx-font-weight: bold;
}

.description_label {
  -fx-font-size: 12;
}

Button {
  -fx-pref-width: 95;
  -fx-pref-height: 35;
  -fx-font-size: 13;
  -fx-font-weight: bold;
  -fx-background-color: #397887;
  -fx-text-fill: #EEEEEE;
}